<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dayu.singapp">

    <application
        android:name=".common.ApplicationEx"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.InCallHeartAnimActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ParcelableActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ParcelableActivity1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>


        <activity android:name=".activity.BezierQuadShowActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.BezierCubicShowActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.CardSlideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <service android:name=".service.RushPresentService"
            android:process=":service_accessibility"
            android:label = "@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <!--辅助配置-->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        
    </application>

</manifest>